layout {

    focus-ring {
        active-color   "#c7a1d8"
        inactive-color "#1c1822"
        urgent-color   "#e9899d"
    }

    border {
        active-color   "#c7a1d8"
        inactive-color "#1c1822"
        urgent-color   "#e9899d"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c7a1d8"
        inactive-color "#5b2574"
        urgent-color   "#e9899d"
    }

    insert-hint {
        color "#c7a1d880"
    }
}
