[Unit]
Description=Okadora First Boot User Setup
Documentation=https://github.com/RoudineBWT/okadora
ConditionPathExists=!%h/.config/okadora/firstboot-done
After=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p %h/.config/okadora
ExecStart=/usr/libexec/okadora_firstboot_script.sh
ExecStartPost=/usr/bin/touch %h/.config/okadora/firstboot-done
RemainAfterExit=yes

[Install]
WantedBy=default.target