// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

//spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" "&" // Polkit
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite" // XWayland support
//spawn-at-startup "mpvpaper" "-vp" "-o" "no-audio loop" "DP-1" "~/backgrounds/kid-goku-and-shenron-dragon-ball-moewalls-com.mp4"
spawn-at-startup "swww-daemon" // Wallpaper daemon
//spawn-at-startup "swww img" "/usr/share/wallpapers/cachyos-wallpapers/Skyscraper.png" // Set wallpaper
spawn-at-startup "qs" "-c" "noctalia-shell" // Launch Quickshell
spawn-at-startup "discord" // Launch Discord
spawn-at-startup "niriswitcher" // Alt Tabbing fonction
spawn-at-startup "openrgb" // Launch OpenRGB
//spawn-at-startup "Telegram" // Launch Telegram
