[Unit]
Description=Mount /nix for Nix package manager
DefaultDependencies=no
After=local-fs.target
Before=nix-daemon.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /nix
ExecStartPre=/usr/bin/mkdir -p /var/lib/nix
ExecStart=/usr/bin/mount --bind /var/lib/nix /nix
ExecStop=/usr/bin/umount /nix
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
