[Unit]
Description=Okadora First Boot System Setup
Documentation=https://github.com/RoudineBWT/okadora
After=local-fs.target network-online.target graphical.target multi-user.target
Wants=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /var/lib/okadora
ExecStart=/usr/libexec/okadora_firstboot_script.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target